[include mainsail.cfg]
[include shell_command.cfg]
[include BTC/*.cfg]
[include Tools/*cfg]



#==============================================================================
# Serial connection  make sure this mathces the output from the command ls /dev/serial/by-id/* on your klipper machine/PI
#==============================================================================
[mcu]
#serial: /dev/serial/by-id/usb-katapult_stm32h723xx_33002A001051323137343334-if00
canbus_uuid: badadd581b3e # this is the manin board




[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: none
max_velocity: 1000
max_accel: 1000


